
.app{
    min-height: 100vh;
    display: grid;
    background-color: #e2d4ff;
  }
.container{
    width: 500px;
    height: fit-content;
    padding: 50px 40px;
    background: linear-gradient(180deg, #1c1c8d, #1800f1);
    margin: 100px auto;
}
.search-container{
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100%;
}
#search-textbox{
    width: 70%;
    padding: 10px 10px 10px 20px;
    border-radius: 20px;
    border: 2px solid #ddd;
    outline: none;
    font-size: 18px;
    margin-right: 10px;
}
#search-textbox:focus{
    border: 2px solid #ff8a3c;
}
.fa-magnifying-glass{
    font-size: 19px;
    background: #fff;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
}
.fa-magnifying-glass:active{
    font-size: 23px;
    padding: 12px;
}
.img-container{
    display: flex;
    margin-top: 30px;
    justify-content: center;
}
.city-name{
    text-align: center;
    color: #fff;
    font-size: 45px;
}
.c{
    margin-top: -20px;
    text-align: center;
    color: #fff;
    font-size: 100px;
    margin-bottom: -30px;
}
.weather-info{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.col{
    display: flex;
}
.col img{
    margin-right: 10px;
    width: 35px;
    height: 35px;
}
.persentage, .km{
    color: #fff;
    font-size: 20px;
    margin-top: -8px;
}