.container{
    background-color: #fff;
    width: 500px;
    margin: 30px auto 0px;
    border-radius: 10px;
    box-shadow: 0 8px 32px 2px rgba(0, 0, 0, .5);
    padding: 20px 50px;

}
h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}


.input-container input{
    height: 47px;    
    width: 348px;
    font-size: 17px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
    outline: none;
    border: 2px solid #cccccc;
}
#con{
    display: flex;
    
}
#con input{
    flex: 1;
}


.input-container input:focus{
    border: 2px solid #ec7129;
}
.input-container button{
    
    padding: 15px 25px;    
    line-height: 20px;
    border: 2px solid #ec7129;
    font-size: 18px;
    font-weight: bold;
    color: #ec7129;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    transition: .5s ease;
    background-color: #ec7129;
    color: #fff;
}
.input-container button:hover{
    background-color: #b64300;
    
}
ol{
    padding: 10px;
    border: 2px solid #ec7129;
    border-radius: 10px;
}
li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
    align-items: center;
    padding: 5px 15px;
    padding-left: 10px;
    font-size: 20px;
    border-bottom: 2px solid #ec7129 ;
}
i{
    padding: 15px;
    font-size: 20px;
    color: #fff;
    background-color: #fff;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s ease;
}
.fa-pen-to-square{
    color: blue;
    background-color: #fff;
}
.fa-trash:hover{
    background-color: tomato;
    color: #fff;
}
.fa-trash{
    color: tomato;
}
.fa-pen-to-square:hover{
    background-color: blue;
    color: #fff;
}