body {
    background-color: rgb(28, 58, 114);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin-left: 50px;
}
.container h1{
    color: #fff;
    font-size: 55px;
}
.container h1 span{
    color: #33e477;
}
.input-container{
    position: relative;
    width: 500px;
}
.input-container input{
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #bbb;
    outline: none;
}
.input-container i{
    position: absolute;
    right: -10px;
    top: 7px;
    font-size: 30px;
    color: #37e078;
    cursor: pointer;
}
.input-container i:hover{
    color: #1a6637;
}
.input-container input:focus{
    border: 2px solid #249750;
}
.btn{
    margin-top: 50px;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid #33e477;
    color: #33e477;
    cursor: pointer;
    transition: .5s ease;
}
.btn:hover{
    background-color: #33e477;
    color: #000;
}